body {
    background-color: teal;
}


h3 {
    font-family: cursive;
    font-size: x-large;
    color: purple;
    font-style: oblique;
    text-align: center;
    text-shadow: 2px 2px 5px whitesmoke;
    

}